
  body {
    background-color: #c07047;
    background-position: center;
    padding: 50px;}
  
    .menu {
        padding: 10%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        background-color: #b95f7d;
  }
  
  
h1 {
    font-family: serif;
    color: hsl(306.5, 98.2%, 15.2%); 
    font-size: 400%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  img {
    padding: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    max-width: 900px;
    height: auto;
  
  }
  
  h2,
  p {
    font-size: 150%;
    padding: 1%;
  }
  
  ul,
  li,
  ol {
    font-size: 125%;
    max-width: 800px;
  }
  
  h1,
  p {
    text-align: center;
  }
  
  h2 {
    text-align: left;
    margin: 30px;
    font-family: serif;
    color: brown; 
  }